#gui
    #banner
        block banner
    ul#navigation
        li.cmdLink(data-cmd="topics") Topics
        li.cmdLink(data-cmd="users") Users
        li.cmdLink(data-cmd="about") About
        li.cmdLink.pull-right(data-cmd="gui --exit") Exit
    #guiContent
        block content
