#gui
    #banner
        block banner
    ul#navigation
        li.cmdLink(data-cmd="topics") TOPICS
        li.cmdLink(data-cmd="users") USERS
        li.cmdLink(data-cmd="about") ABOUT
        li.cmdLink.pull-right(data-cmd="gui --exit") EXIT
    #guiContent
        block content
