doctype 5
html
    head
        title= title
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='/style.styl')
        link(rel='stylesheet', href='/google-code-prettify/sons-of-obsidian.css')
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
        script(src="/google-code-prettify/prettify.js")
        script(src="/jquery.scrollTo.min.js")
        script(src="/shotgun/shotgun.client.js")
        script(src="/main.js")
    body
        #frame