color = #0f0
backColor = #000
errorColor = #f00
warningColor = #ff0
debugColor = #0ff
linkColor = lighten(color, 50%)
dimColor = darken(color, 50%)
quoteColor = lighten(color, 95%)

if light(backColor)
    warningColor = darken(warningColor, 50%)
    errorColor = darken(errorColor, 25%)
    debugColor = darken(debugColor, 25%)

if (light(color))
    quoteColor = darken(color, 95%)

body
  padding: 25px
  margin: 0px
  font-family: Consolas, "Courier New", "Lucida Grande", Helvetica, Arial, sans-serif
  color: color
  background-color: backColor

@media (max-width: 1000px)
    body
        padding: 10px

#frame
  max-width: 1000px

a
  color: linkColor

.warn
    color: warningColor

.error
    color: errorColor

.debug
    color: debugColor

.inverted
    color: backColor
    background-color: color

.bold
    font-weight: bold

.italic
    font-style: italic

.sub
    font-style: italic
    font-size: 12px
    color: dimColor

.small
    font-size: 12px

.dim
    color: dimColor

.underline
    text-decoration: underline

.title
    font-size: 25px
    font-weight: bold

.comment
    border-left: dotted 1px dimColor
    padding: 15px
    margin-top: 15px

.multi-line
    border-color: dimColor !important

blockquote
    border: solid 1px dimColor
    padding: 15px
    margin: 0
    display: inline-block
    background-color: quoteColor

pre > code
    display: inline-block
    padding: 15px

code
    border: solid 1px dimColor
    padding: 0 3px 0 3px

img
    max-width: 700px
    border: solid 1px color

hr
    border-width: 1px 0 0 0
    border-color: dimColor

#cli
    margin-top: 0px

.center
    text-align: center

.pull-right
    float: right

.pull-left
    float: left

// -=-=-= GUI Styles =-=-=-

#gui
    border: dotted 1px color
    background-color: darken(color, 90%)

#banner
    border-bottom: dotted 1px color
    padding: 15px
    font-size: 35px
    font-weight: bold
    text-align: center

ul#navigation
    list-style: none;
    border-bottom: dotted 1px color
    padding: 15px
    margin: 0
    li
        display: inline
    li.cmdLink
        margin-right: 35px
        font-weight: bold

.cmdLink
    color: linkColor
    cursor: pointer

.cmdLink:hover
        text-decoration: underline

#guiContent
    padding: 15px
